<%= form_with(model: disciplina, local: true) do |form| %>
  <% if disciplina.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(disciplina.errors.count, "error") %> prohibited this disciplina from being saved:</h2>

      <ul>
      <% disciplina.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :curso %>
    <%= form.text_field :curso %>
  </div>

  <div class="field">
    <%= form.label :professores_id %>
    <%= form.select(:professores_id, 
                    Professor.all.collect {|p| [p.nome, p.id]}) %>
</div>

<div class="field">
<%= form.label :cursos_id %>
<%= form.select(:cursos_id, 
                Curso.all.collect {|c| [c.nome, c.id]}) %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
