<%= form_with(model: disciplina, local: true) do |form| %>
  <% if disciplina.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(disciplina.errors.count, "error") %> prohibited this disciplina from being saved:</h2>

      <ul>
      <% disciplina.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nota %>
    <%= form.number_field :nota %>
  </div>

  <div class="field">
    <%= form.label :presenca %>
    <%= form.text_field :presenca %>
  </div>

  <div class="field">
    <%= form.label :notasTrabalho %>
    <%= form.number_field :notasTrabalho %>
  </div>

  <div class="field">
    <%= form.label :notasProvaLivro %>
    <%= form.number_field :notasProvaLivro %>
  </div>

  <div class="field">
    <%= form.label :atividades %>
    <%= form.text_field :atividades %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
