<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
  <strong>Notaaluno:</strong>
  <%= @disciplina.notaAluno %>
</p>

<p>
  <strong>Presencaaula:</strong>
  <%= @disciplina.presencaAula %>
</p>

<p>
  <strong>Notatrabalho:</strong>
  <%= @disciplina.notaTrabalho %>
</p>

<p>
  <strong>Notaprovalivro:</strong>
  <%= @disciplina.notaProvaLivro %>
</p>

<p>
  <strong>Atividadesextra:</strong>
  <%= @disciplina.atividadesExtra %>
=======
  <strong>Curso:</strong>
  <%= @disciplina.Curso %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @disciplina.Nome %>
>>>>>>> 61b637a031b1e2c77fe2e9d5250aeb60b9b5427d
</p>

<%= link_to 'Edit', edit_disciplina_path(@disciplina) %> |
<%= link_to 'Back', disciplinas_path %>
