<p id="notice"><%= notice %></p>

<p>
  <strong>Disciplina:</strong>
  <%= @aula.disciplina %>
</p>

<p>
  <strong>Data:</strong>
  <%= @aula.data %>
</p>

<p>
  <strong>Objetivo:</strong>
  <%= @aula.objetivo %>
</p>

<p>
  <strong>Realizado:</strong>
  <%= @aula.realizado %>
</p>

<p>
  <strong>Trabalho:</strong>
  <%= @aula.trabalho %>
</p>

<%= link_to 'Edit', edit_aula_path(@aula) %> |
<%= link_to 'Back', aulas_path %>
