<p id="notice"><%= notice %></p>

<p>
  <strong>Disciplina:</strong>
  <%= @aula.Disciplina %>
</p>

<p>
  <strong>Data:</strong>
  <%= @aula.Data %>
</p>

<p>
  <strong>Objetivo:</strong>
  <%= @aula.Objetivo %>
</p>

<p>
  <strong>Realizado:</strong>
  <%= @aula.Realizado %>
</p>

<%= link_to 'Edit', edit_aula_path(@aula) %> |
<%= link_to 'Back', aulas_path %>
