<%= form_with(model: aluno, local: true) do |form| %>
  <% if aluno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aluno.errors.count, "error") %> prohibited this aluno from being saved:</h2>

      <ul>
      <% aluno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :endereco %>
    <%= form.text_area :endereco %>
  </div>

  <div class="field">
    <%= form.label :pai %>
    <%= form.text_field :pai %>
  </div>

  <div class="field">
    <%= form.label :mae %>
    <%= form.text_field :mae %>
  </div>

  <div class="field">
    <%= form.label :documento %>
    <%= form.text_field :documento %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.number_field :telefone %>
  </div>

  <div class="field">
    <%= form.label :disciplinas_id %>
    <%= form.select(:disciplinas_id, 
                    Disciplina.all.collect {|d| [d.nome, d.id]}) %>
</div>

<div class="field">
<%= form.label :trabalhos_id %>
<%= form.select(:trabalhos_id, 
                Trabalho.all.collect {|t| [t.nome, t.id]}) %>
</div>

<div class="field">
<%= form.label :provas_id %>
<%= form.select(:provas_id, 
                Prova.all.collect {|p| [p.nome, p.id]}) %>
</div>

<div class="field">
<%= form.label :cursos_id %>
<%= form.select(:cursos_id, 
                Curso.all.collect {|c| [c.nome, c.id]}) %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
