<%= form_with(model: atividades_extra, local: true) do |form| %>
  <% if atividades_extra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(atividades_extra.errors.count, "error") %> prohibited this atividades_extra from being saved:</h2>

      <ul>
      <% atividades_extra.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data %>
  </div>

  <div class="field">
    <%= form.label :data_entrega %>
    <%= form.date_select :data_entrega %>
  </div>

  <div class="field">
    <%= form.label :curso %>
    <%= form.text_field :curso %>
  </div>

  <div class="field">
    <%= form.label :disciplina %>
    <%= form.text_field :disciplina %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
