<%= form_with(model: professor, local: true) do |form| %>
  <% if professor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(professor.errors.count, "error") %> prohibited this professor from being saved:</h2>

      <ul>
      <% professor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :documento %>
    <%= form.text_field :documento %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.number_field :telefone %>
  </div>

  <div class="field">
    <%= form.label :endereco %>
    <%= form.text_field :endereco %>
  </div>

  <div class="field">
    <%= form.label :provas_id %>
    <%= form.select(:provas_id, 
                    Prova.all.collect {|p| [p.nome, p.id]}) %>
</div>

<div class="field">
<%= form.label :trabalhos_id %>
<%= form.select(:trabalhos_id, 
                Trabalho.all.collect {|t| [t.nome, t.id]}) %>
</div>

<div class="field">
<%= form.label :alunos_id %>
<%= form.select(:alunos_id, 
                Aluno.all.collect {|a| [a.nome, a.id]}) %>
</div>

<div class="field">
<%= form.label :aulas_id %>
<%= form.select(:aulas_id, 
                Aula.all.collect {|au| [au.disciplina, au.id]}) %>
</div>

<div class="field">
<%= form.label :atividades_extras_id %>
<%= form.select(:atividades_extras_id, 
                AtividadesExtra.all.collect {|ae| [ae.nome, ae.id]}) %>
</div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
