<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @professor.nome %>
</p>

<p>
<<<<<<< HEAD
  <strong>Telefone:</strong>
  <%= @professor.telefone %>
</p>

<p>
=======
>>>>>>> d99b35d016db3527669868ae5897ce7e3a71e111
  <strong>Email:</strong>
  <%= @professor.email %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @professor.endereco %>
</p>

<<<<<<< HEAD
=======
<p>
  <strong>Telefone:</strong>
  <%= @professor.telefone %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @professor.documento %>
</p>

>>>>>>> d99b35d016db3527669868ae5897ce7e3a71e111
<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professores_path %>
