<%= form_with(model: nota_prova_livro, local: true) do |form| %>
  <% if nota_prova_livro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nota_prova_livro.errors.count, "error") %> prohibited this nota_prova_livro from being saved:</h2>

      <ul>
      <% nota_prova_livro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data %>
  </div>

  <div class="field">
    <%= form.label :curso %>
    <%= form.text_field :curso %>
  </div>

  <div class="field">
    <%= form.label :nota_aluno %>
    <%= form.number_field :nota_aluno %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
