<p id="notice"><%= notice %></p>

<h1>Nota Alunos</h1>

<table>
  <thead>
    <tr>
      <th>Nome do aluno</th>
      <th>Nota g1</th>
      <th>Nota g2</th>
      <th>Sub g1</th>
      <th>Sub g2</th>
      <th>Data prova</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nota_alunos.each do |nota_aluno| %>
      <tr>
        <td><%= nota_aluno.nome_do_aluno %></td>
        <td><%= nota_aluno.nota_g1 %></td>
        <td><%= nota_aluno.nota_g2 %></td>
        <td><%= nota_aluno.sub_g1 %></td>
        <td><%= nota_aluno.sub_g2 %></td>
        <td><%= nota_aluno.data_prova %></td>
        <td><%= link_to 'Show', nota_aluno %></td>
        <td><%= link_to 'Edit', edit_nota_aluno_path(nota_aluno) %></td>
        <td><%= link_to 'Destroy', nota_aluno, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nota Aluno', new_nota_aluno_path %>
