<p id="notice"><%= notice %></p>

<p>
  <strong>Nome do aluno:</strong>
  <%= @nota_aluno.nome_do_aluno %>
</p>

<p>
  <strong>Nota g1:</strong>
  <%= @nota_aluno.nota_g1 %>
</p>

<p>
  <strong>Nota g2:</strong>
  <%= @nota_aluno.nota_g2 %>
</p>

<p>
  <strong>Sub g1:</strong>
  <%= @nota_aluno.sub_g1 %>
</p>

<p>
  <strong>Sub g2:</strong>
  <%= @nota_aluno.sub_g2 %>
</p>

<p>
  <strong>Data prova:</strong>
  <%= @nota_aluno.data_prova %>
</p>

<%= link_to 'Edit', edit_nota_aluno_path(@nota_aluno) %> |
<%= link_to 'Back', nota_alunos_path %>
