<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @trabalho.nome %>
</p>

<p>
  <strong>Disciplina:</strong>
  <%= @trabalho.disciplina %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @trabalho.curso %>
</p>

<p>
  <strong>Data de entrega:</strong>
  <%= @trabalho.data_de_entrega %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @trabalho.descricao %>
</p>

<%= link_to 'Edit', edit_trabalho_path(@trabalho) %> |
<%= link_to 'Back', trabalhos_path %>
