<p id="notice"><%= notice %></p>

<h1>Notas Trabalhos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Data</th>
      <th>Curso</th>
      <th>Disciplina</th>
      <th>Nota aluno</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notas_trabalhos.each do |notas_trabalho| %>
      <tr>
        <td><%= notas_trabalho.nome %></td>
        <td><%= notas_trabalho.data %></td>
        <td><%= notas_trabalho.curso %></td>
        <td><%= notas_trabalho.disciplina %></td>
        <td><%= notas_trabalho.nota_aluno %></td>
        <td><%= link_to 'Show', notas_trabalho %></td>
        <td><%= link_to 'Edit', edit_notas_trabalho_path(notas_trabalho) %></td>
        <td><%= link_to 'Destroy', notas_trabalho, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notas Trabalho', new_notas_trabalho_path %>
